* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: inline-block;
    margin-left: 50px;
}

nav {
    background-color: rgb(206, 248, 186);
    padding: 35px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(105, 101, 101);
}

iframe {
    margin-left: 175px;
}

#budsjettknapp {
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: gray;
}

#skoleoppgaverknapp {
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: gray;
}

div {
    text-align: center;
    cursor: pointer;
    margin: 10px;
}


