* {
    margin: 0;
    padding: 0;
}

tr, td, table {
    border: solid rgb(68, 190, 68) 1px;
}

table {
    margin: 0vh auto;
}

td {
    padding: 63.4px 48px;
    cursor: pointer;
}

body {
    background-color: rgb(68, 190, 68);
}

.bunkeKort {
    position: absolute;
    width: 110px;
    height: 140px;
}
