* {
    margin: 0;
    padding: 0;
    /* background-image: radial-gradient(red,black); */
}

body {
    background-color: rgb(245, 195, 171);
    background-image: linear-gradient(to bottom right, rgb(197, 131, 100), white);
}

.spillere {
    display: block;
}

h1, h3, button, input {
    margin-top: 10px;
    margin-left: 5px;
    padding: 3px;
}

h2 {
    margin: 15px;
    width: 400px;
}

div {
    float: left;
    height: 100vh;
    width: 50%; 
}