table, td {
    border: solid black 1px;
    padding: 6px;
}

#bla {
    background-color: lightblue;
}

button {
    margin-left: 40px;
}

input {
    width: 60px;
    margin-bottom: 30px;
}

canvas {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: white;
    border: black solid 2px;
}

.data {
    cursor: pointer;
}

